---
import Button from "@components/Button/Button.astro";
import { getLocaleFromUrl } from "@js/localeUtils";
import { Image } from "astro:assets";

const currLocale = getLocaleFromUrl(Astro.url);

interface Props {
	image: string;
	description: string;
	linkText: string;
	linkUrl: string;
}

const { image, description, linkText, linkUrl } = Astro.props as Props;

/**
 * * Build the image path needed for dynamic image importing
 * image is a string that looks like : "../../en/tailwind-gradient-underline/ace.jpg"
 * we need to convert it to a string that looks like: "/src/data/blog/en/tailwind-gradient-underline/ace.jpg"
 */
// remove beginning "../../" from image path
const imageSubPath = image.slice(6);

// append start of full path
const imageFullPath = "/src/data/blog/" + imageSubPath;

/**
 * * Relevant docs:
 * my blog post on this: https://cosmicthemes.com/blog/astro-dynamic-image-imports/
 * general dynamic import notes for Astro: https://docs.astro.build/en/recipes/dynamically-importing-images/
 * vite glob import: https://vitejs.dev/guide/features.html#glob-import
 * glob patterns: https://github.com/mrmlnc/fast-glob?tab=readme-ov-file#pattern-syntax
 */

const images = import.meta.glob<{ default: ImageMetadata }>(
	"/src/data/blog/**/*.{jpeg,JPEG,jpg,JPG,png,PNG,gif,GIF}",
);

if (!images[imageFullPath])
	throw new Error(
		`"${imageFullPath}" does not exist in glob: "/src/data/blog/**/*.{jpeg,JPEG,jpg,JPG,png,PNG,gif,GIF}". See AffiliateLink.astro to debug.`,
	);
---

<div
	class="not-content border-accent mx-auto my-6 flex max-w-[400px] flex-col gap-8 rounded-xs border-2 p-4 text-center sm:p-8"
>
	<Image
		src={images[imageFullPath]()}
		alt={linkText}
		width={400}
		quality="high"
		class="h-auto w-full rounded-xs object-cover"
		loading="lazy"
		format="webp"
	/>
	<div class="flex flex-col">
		<p>{description}</p>
		<div class="mt-6 flex justify-center">
			<Button variant="primary" class="flex" href={linkUrl} target="_blank" rel="sponsored nofollow"
				>{linkText}</Button
			>
		</div>
	</div>
</div>
